/* src/components/Wallet/Wallet.css */
.wallet-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .wallet-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .wallet-content form {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 45%;
  }
  
  .wallet-content form input[type="number"] {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .wallet-content form select {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .transaction-history {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .transaction-history h2 {
    margin-bottom: 10px;
  }
  
  .transaction-history ul {
    list-style: none;
    padding: 0;
  }
  
  .transaction-history li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .transaction-history li:last-child {
    border-bottom: none;
  }
  
  .transaction-history li span {
    font-size: 16px;
  }
  